*{
    font-family: 'Raleway', sans-serif;
}

.background-color1{
    background-color: aliceblue;
}

.background-color2{
    background-color: #575989;
;
}

.button-style{
    font-size: 10px;
}

.padding-box{
    padding: 45px 0 45px 0;
    color:white;
}

.text-quote{
    font-size: 12px;
}